# Series의 개요

In [1]:
#판다스, 넘파이 패키지 불러오기
import pandas as pd
import numpy as np

In [2]:
#주피터 노트북 속성 검색 자동완성기능 ON
%config Completer.use_jedi = False

## 클래스 및 인스턴스

In [3]:
#클래스(템플릿)에서 객체를 인스턴스화
pd.Series()

C:\Users\jyluc\AppData\Local\Temp\ipykernel_18328\1823551282.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

## Series 값 채우기

In [4]:
#생성자를 사용하여 인수를 통해 초기상태를 설정
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
pd.Series() #shift키 + tap키+ 커서 -> 매개변수 목록 및 기본인수 확인

C:\Users\jyluc\AppData\Local\Temp\ipykernel_18328\3253330173.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series() #shift키 + tap키+ 커서 -> 매개변수 목록 및 기본인수 확인

Series([], dtype: float64)

In [6]:
pd.Series(ice_cream_flavors) #위치 기반 인수
pd.Series(data = ice_cream_flavors) #키워드 인수

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

## Series 인덱스 사용자 정의

In [7]:
#자동으로 결정되는 인덱스 위치 외에 인덱스 레이블(불변 데이터 유형) 할당 가능
#data 및 index 매개변수에 전달하는 객체의 길이는 동일해야함
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [8]:
#Series의 인덱스는 중복 허용(파이썬의 딕셔너리와 달리)
#고유 인덱스를 사용하면 라이브러리가 인덱스 레이블을 더 빨리 찾을 수 있음.
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [9]:
#키워드 인수를 사용하면 매개변수를 순서와 상관없이 전달 가능
pd.Series(index = days_of_week, data = ice_cream_flavors)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [10]:
#dtype문은 Series 값의 (판다스가 예측 가능한) 데이터 유형을 보여줌(bool)
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [11]:
#dtype문은 Series 값의 (판다스가 예측 가능한) 데이터 유형을 보여줌(float64)
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [12]:
#dtype문은 Series 값의 (판다스가 예측 가능한) 데이터 유형을 보여줌(int64)
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [13]:
#Series의 생성자 dtype 매개변수를 사용하면 강제로 다른 유형으로 변환 가능
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = "float") #위치 기반 인수와 키워드 인수를 모두 사용

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

## 결측값이 있는 Series 생성

In [14]:
#판다스는 결측값 발견시 넘파이의 nan(not a number) 객체로 대체
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures) 
#판다스는 nan값을 발견하면 숫자값을 정수->부동소수점으로 자동변환

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

# 파이썬 객체에서 Series 생성

In [15]:
#Series생성자의 data 매개변수는 다양한 객체 입력을 허용(딕셔너리)
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [16]:
#Series생성자의 data 매개변수는 다양한 객체 입력을 허용(튜플-1)
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [17]:
#Series생성자의 data 매개변수는 다양한 객체 입력을 허용(튜플-2)
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [18]:
#Series생성자의 data 매개변수는 다양한 객체 입력을 허용(집합)
my_set = {"Ricky", "Bobby"}
pd.Series(my_set) #집합에는 연관/순서 개념이 없기에 오류 발생

TypeError: 'set' type is unordered

In [20]:
pd.Series(list(my_set)) #순서 보장x

0    Ricky
1    Bobby
dtype: object

In [21]:
#Series생성자의 data 매개변수는 다양한 객체 입력을 허용(ndarray 객체)
random_data = np.random.randint(1, 101, 10)
pd.Series(random_data)

0    80
1    81
2    62
3    86
4    33
5    93
6    99
7    71
8    97
9    57
dtype: int32

# Series의 속성
- 속성 
  - 객체에 속하는 데이터의 조각
  - 객체의 내부 상태에 대한 정보
  - 고유한 기능을 가질 수 있는 중첩된 객체
- Series는 넘파이의 ndarray 객체와 판다스의 Index 객체를 사용하여 저장 
-> Series는 핵심 넘파이 라이브러리 객체를 둘러싼 추가 기능 계층 rapper

In [22]:
#value 속성: 값을 저장하는 ndarray 객체에 접근
diet.values

array([125, 406, 342], dtype=int64)

In [23]:
type(diet.values)

numpy.ndarray

In [24]:
#index 속성: Series 레이블을 저장하는 Index 객체 반환
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [25]:
type(diet.index)

pandas.core.indexes.base.Index

In [26]:
#dtype 속성: Series 값의 데이터 유형을 반환
diet.dtype

dtype('int64')

In [27]:
#size 속성: Series 값의 개수를 반환
diet.size

3

In [28]:
#shape 속성: 판다스 자료구조의 차원을 포함하는 튜플을 반환
diet.shape

(3,)

In [29]:
#is_unique 속성: Series 값이 고유한 경우 True 반환
diet.is_unique

True

In [30]:
pd.Series(data = [3, 3]).is_unique

False

In [31]:
#is_monotonic 속성: Series 값이 자신의 이전 값보다 클 경우 True 반환
pd.Series(data = [1, 3, 6]).is_monotonic_increasing

True

In [32]:
pd.Series(data = [1, 6, 3]).is_monotonic_increasing

False

# 첫 번째 행과 마지막 행 검색
- 메서드
  - 객체에 속하는 기능
  - 객체에서 수행할 수 있는 작업이나 명령
- 속성(객체의 상태를 정의) vs 메서드(객체의 동작을 정의)

In [33]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [34]:
#head 메서드: 데이터셋의 시작 또는 맨 위에 있는 행, 추출 행 수를 설정하는 인수 n
nums.head() #기본인수=5

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [35]:
nums.head(n=3) #nums.head(3)과 동일

0     0
1     5
2    10
dtype: int64

In [36]:
#tail 메서드: Series의 맨 아래 또는 끝에 있는 행을 반환
nums.tail() #기본인수=5

95    475
96    480
97    485
98    490
99    495
dtype: int64

In [37]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

# 수학 연산 (메서드)

## 통계 연산

In [38]:
#데이터 source에 결측값이 하나 이상 있다면 판다는 부동 소수점 값으로 강제 변환
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [39]:
#count 메서드: null이 아닌 값의 개수를 계산
numbers.count()

5

In [40]:
#sum 메서드: Series의 값을 모두 더한 값을 반환
numbers.sum()

15.0

In [41]:
#대부분의 수학적 메서드는 기본적으로 결측값을 무시. 
#sum 메서드의 skipna 매개변수에 False 인수를 전달 시 강제로 포함 가능
numbers.sum(skipna = False)

nan

In [42]:
#sum 메서드의 min_count 매개변수는 판다스가 합을 계산하기 위해 Series가 보유해야하는 유효한 값의 최소 개수
numbers.sum(min_count = 3)

15.0

In [43]:
numbers.sum(min_count = 6) #임계값을 충족하지 않았을 때는 nan을 반환

nan

In [44]:
#product 메서드: Series의 값을 모두 곱함
numbers.product()

120.0

In [45]:
#product 메서드 또한 skipna 매개변수를 가짐
numbers.product(skipna = False)

nan

In [46]:
#product 메서드 또한 min_count 매개변수를 가짐
numbers.product(min_count = 3)

120.0

In [47]:
#cumsum 메서드: 누적 합계를 값으로 가지는 새 Series를 반환
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [48]:
#cumsum 메서드의 skipna 매개변수
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [49]:
#pct_change 메서드: 한 Series 값에서 다음 값까지의 변동 비율을 반환. 
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [50]:
#pct_change 메서드의 fill_method 매개변수는 NaN값을 대체하는 방법을 사용자 정의
#ffill, pad: 정방향 채우기(nan값을 마지막으로 유효한 관측값으로 대체)
numbers.pct_change(fill_method = "pad") 
# numbers.pct_change(fill_method = "ffill") 와 동일

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [51]:
#bfill, backfill: 역방향 채우기(nan값을 다음 유효한 관측값으로 대체)
numbers.pct_change(fill_method = "bfill")
# numbers.pct_change(fill_method = "backfill") 와 동일

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [52]:
#mean 메서드: Series 값의 평균을 반환
numbers.mean()

3.0

In [53]:
#median 메서드: 정렬된 Series값에서 가운데 숫자를 반환
numbers.median()

3.0

In [54]:
#std 메서드: 데이터 변동의 척도인 표준편차를 반환
numbers.std()

1.5811388300841898

In [56]:
#max 메서드: Series에서 가장 큰 값을 검색
numbers.max()

5.0

In [57]:
#min 메서드: Series에서 가장 작은 값을 검색
numbers.min()

1.0

In [58]:
#판다스는 문자열 Series를 알파벳순으로 정렬(시작: 작음, 끝: 큼)
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [59]:
animals.max()

'zebra'

In [60]:
animals.min()

'aardvark'

In [62]:
#describe 메서드: Series를 효과적으로 요약하는 단일 메서드
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [63]:
#sample 메서드: Series에서 임의의 값을 선택
numbers.sample(3)

1    2.0
2    3.0
0    1.0
dtype: float64

In [65]:
#unique 메서드: Series에서 고유한 값의 넘파이 ndarray를 반환
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [66]:
#nunique 메서드: Series에서 고유한 값의 개수를 반환
authors.nunique()

4

##  산술 연산

In [67]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

- +,-,*,/ 과 같은 파이썬 표준 수학 연산자를 사용하여 Series에서 산술 연산을 수행
- Series를 수학 연산자의 한쪽에 있는 일반 피연산자처럼 사용 가능
- nan을 사용한 수학 연산은 결과로 nan을 반환

In [68]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [69]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [70]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [71]:
s1.sub(5) #s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [72]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [73]:
s1.mul(2) #s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [74]:
s1 / 2

A    2.5
B    NaN
C    7.5
dtype: float64

In [75]:
s1.div(2) #s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [76]:
s1 // 4

A    1.0
B    NaN
C    3.0
dtype: float64

In [77]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [78]:
s1 % 3

A    2.0
B    NaN
C    0.0
dtype: float64

In [79]:
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

## 브로드 캐스팅

- 판다스는 Series 값을 내부적으로 넘파이 ndarray에 저장.
- 브로드 캐스팅: 한 배열의 값을 다른 배열로 파생시키는 것.
  - 여러 Series 객체 사이의 수학적 연산을 설명.

In [80]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])
s1 + s2

A    5
B    7
C    9
dtype: int64

In [81]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])
s1 == s2 #s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [82]:
s1 != s2 #s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [85]:
#인덱스가 다를 때 Series의 비교 연산 
s1 = pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"]
)
s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]
)
s1 + s2 #두 Series에서 공유 인덱스 레이블을 나란히 놓고 필요한 경우 NaN을 넣어 데이터를 나열

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

# Series를 파이썬의 내장 함수에 전달
- 파이썬 dev 커뮤니티는 코드베이스 전반에 걸쳐 일관성 보장 
-> 라이브러리 객체와 파이썬의 내장 함수를 원활하게 통합

In [86]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan]
)

In [88]:
#len 함수는 Series의 행 개수를 반환(결측값 포함)
len(cities)

4

In [89]:
#type 함수는 객체의 클래스를 반환
type(cities)

pandas.core.series.Series

In [90]:
#dir 함수는 객체의 속성, 메서드를 문자열로 리스트에 담아 반환
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [91]:
#list 함수를 사용해 Series 값으로 list를 채우기
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [92]:
#dict 함수를 사용해 Series 값으로 딕셔너리 만들기
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [98]:
#in 키워드를 사용하여 Series 인덱스 포함 여부를 확인
2 in cities

True

In [97]:
"Las Vegas" in cities

False

In [96]:
#values 속성을 이용하면 특정 값의 포함 여부를 확인 가능
"Las Vegas" in cities.values

True

In [99]:
#not in 연산자를 사용하여 인덱스 미포함 여부를 확인
100 not in cities

True

In [100]:
"Paris" not in cities.values

True

# 코딩 챌린지

In [102]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)

In [103]:
#1
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [105]:
#2
pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [116]:
#3
heroes = pd.Series(strength_levels, superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [107]:
#4
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [108]:
#5 
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [109]:
#6 
heroes.nunique()

5

In [110]:
#7
heroes.mean()

105.83333333333333

In [112]:
#8-1
heroes.max()

120

In [113]:
#8-2
heroes.min()

90

In [114]:
#9
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [115]:
#10
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}