- 판다스가 임의로 설정한 값을 사용자 정의 화면 요구사항에 맞게 변경하고 싶을때
  - 행 및 열 제한, 부동소수점 정밀도, 값 내림 등
# 판다스 설정 확인과 변경

In [2]:
import pandas as pd
happiness = pd.read_csv("happiness.csv")
happiness.head()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
3,Iceland,7.494,1.380,1.624,1.026,0.354
4,Netherlands,7.488,1.396,1.522,0.999,0.322

- 판다스는 라이브러리 최상위 수준에 있는 options 객체에 설정을 저장

In [4]:
#display 범주: 판다스가 자료구조를 출력하는 형식을 설정
#최상위 describe_option 함수: 주어진 설정의 문서를 반환
  #설정 이름을 나타내는 문자열을 함수에 전달 가능
pd.describe_option("display.max_rows") 
#판다스가 DataFrame을 자르기 전에 출력할 최대 행 수
#문서의 끝 부분은 설정의 기본 값과 현재 값

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [6]:
#판다스는 문자열 인수와 일치하는 모든 라이브러리 설정을 출력
  #정규표현식을 기반, describe_option의 인수를 사용 가능한 설정과 비교
  #따라서 상위 범주를 포함하지 않아도 찾을 수는 있음.
pd.describe_option("max_col")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]

- 설정의 현재 값을 가져오는 방법
  1. 판다스의 최상위 수준에 있는 get_option 함수를 사용
  2. 최상위 pd.options 객체의 속성으로 상위 범주와 특정설정에 접근

In [7]:
pd.get_option("display.max_rows")

60

In [8]:
pd.options.display.max_rows

60

- 설정 값을 변경하는 방법
  1. 판다스의 최상위 수준에 있는 set_option 함수: 설정의 이름(첫번째 인수), 새로 설정할 값(두번째 인수)
  2. 최상위 pd.options 객체의 속성으로 해당 설정에 접근하여 할당 연산자로 새 값을 할당

In [10]:
pd.set_option("display.max_rows", 6)
pd.options.display.max_rows

6

In [11]:
pd.options.display.max_rows = 6
pd.options.display.max_rows

6

In [12]:
#적용 예시
happiness.head(7)

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
...,...,...,...,...,...,...
4,Netherlands,7.488,1.396,1.522,0.999,0.322
5,Switzerland,7.480,1.452,1.526,1.052,0.263
6,Sweden,7.343,1.387,1.487,1.009,0.267

In [15]:
#max_columns: 출력하는 열의 최대 수를 결정
pd.get_option("display.max_columns")
#pd.options.display.max_columns

20

In [17]:
pd.set_option("display.max_columns", 2)
#pd.options.display.max_columns = 2

In [19]:
happiness.head(7)

        Country  ...  Generosity
0       Finland  ...       0.153
1       Denmark  ...       0.252
2        Norway  ...       0.271
..          ...  ...         ...
4   Netherlands  ...       0.322
5   Switzerland  ...       0.263
6        Sweden  ...       0.267

[7 rows x 6 columns]

In [20]:
#최대 열 수를 홀수로 설정하면 판다스는 최대 열 수에 잘리는 열을 포함함
pd.set_option("display.max_columns", 5)
#pd.options.display.max_columns = 5

In [21]:
happiness.head()

       Country  Score  ...  Life expectancy  Generosity
0      Finland  7.769  ...            0.986       0.153
1      Denmark  7.600  ...            0.996       0.252
2       Norway  7.554  ...            1.028       0.271
3      Iceland  7.494  ...            1.026       0.354
4  Netherlands  7.488  ...            0.999       0.322

[5 rows x 6 columns]

In [22]:
#reset_option 함수: 설정을 기존 값으로 되돌리는 함수
pd.reset_option("display.max_rows")

# 정밀도

In [23]:
#display.precision 설정: 부동소수점 숫자 뒤의 자리수를 결정
pd.describe_option("display.precision")

display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]

In [25]:
pd.set_option("display.precision", 2)
#pd.options.display.precision = 2

happiness.head()

       Country  Score  ...  Life expectancy  Generosity
0      Finland   7.77  ...             0.99        0.15
1      Denmark   7.60  ...             1.00        0.25
2       Norway   7.55  ...             1.03        0.27
3      Iceland   7.49  ...             1.03        0.35
4  Netherlands   7.49  ...             1.00        0.32

[5 rows x 6 columns]

In [27]:
#정밀도 설정은 부동소수점 숫자가 표시하는 형식"만" 변경
#DataFrame 안에서는 기존 값을 유지
happiness.loc[0, "Score"]

7.769

# 최대 열 너비

In [28]:
#display.max_colwidth 설정: 판다스가 셀의 텍스트를 자르기 전에 출력할 최대 문자 수
pd.describe_option("display.max_colwidth")

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]

In [30]:
pd.set_option("display.max_colwidth", 9)
#pd.options.display.max_colwidth = 9

In [31]:
happiness.tail()

      Country  Score  ...  Life expectancy  Generosity
151    Rwanda   3.33  ...      0.61             0.22
152  Tanzania   3.23  ...      0.50             0.28
153  Afgha...   3.20  ...      0.36             0.16
154  Centr...   3.08  ...      0.10             0.23
155  South...   2.85  ...      0.29             0.20

[5 rows x 6 columns]

# 절단 임계값
- 일부 분석에서는 값이 0에 어느정도 가까우면 중요하지 않은 값으로 간주 -> 임계값 설정

In [32]:
#display.chop_threshold 설정: 부동소수점 값이 출력할 때 고려해야하는 최소 임계값을 설정
pd.describe_option("display.chop_threshold")

display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]

In [33]:
pd.set_option("display.chop_threshold", 0.25)

In [34]:
happiness.tail()

      Country  Score  ...  Life expectancy  Generosity
151    Rwanda   3.33  ...      0.61             0.00
152  Tanzania   3.23  ...      0.50             0.28
153  Afgha...   3.20  ...      0.36             0.00
154  Centr...   3.08  ...      0.00             0.00
155  South...   2.85  ...      0.29             0.00

[5 rows x 6 columns]

- chop_threshold는 DataFrame의 기존 값을 변경하지 않고 출력하는 형식만 변경

# 설정 컨텍스트
- 위의 설정은 모두 전역적(변경하면 이후에 실행되는 모든 주피터 노트북 셀의 출력이 영향을 받음)
- 하나의 셀에 대한 출력 설정을 변경하고 싶을 때 판다스의 최상위 option_context 함수를 사용.
  - 컨텍스트 블록: 임시 실행 환경, 키워드 with
- 주피터는 with 블록의 내용을 노트북 셀의 최종 구문으로 인식하지 않음. 
  - 따라서 수동 출력시 display (노트북 함수)를 사용

In [42]:
with pd.option_context(
    "display.max_columns", 5,
    "display.max_rows", 10,
    "display.precision", 3
):
    display(happiness)

      Country  Score  ...  Life expectancy  Generosity
0     Finland  7.769  ...     0.986            0.000
1     Denmark  7.600  ...     0.996            0.252
2      Norway  7.554  ...     1.028            0.271
3     Iceland  7.494  ...     1.026            0.354
4    Nethe...  7.488  ...     0.999            0.322
..        ...    ...  ...       ...              ...
151    Rwanda  3.334  ...     0.614            0.000
152  Tanzania  3.231  ...     0.499            0.276
153  Afgha...  3.203  ...     0.361            0.000
154  Centr...  3.083  ...     0.000            0.000
155  South...  2.853  ...     0.295            0.000

[156 rows x 6 columns]